h2{
  color: #af6313;
  font-family: 'ProximaNovaCond-Extrabld';
  font-size: 4rem;
  font-weight: bold;
  line-height: 80px;  
}
.about_content{
   color: #fff;
   font-family: 'ProximaNova-LightIt';
   font-size: 2rem;
   line-height: 40px; 
   letter-spacing: 1px;
   padding-top: 20px;
   padding-right: 50px;
}
.about_img{
  width: 70%;
  position: relative; 
  margin-top: 100px; 
  margin-left: 20%;
}
.text{
  position: absolute;
  width: 305px;
  height: 170px;
  top: 115px;
  left: 170px;
}
.greet{
  width: 40em;
    color:green;
    font-size: 22px;
    font-family: 'Marck Script', cursive;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
    animation-delay: 2s;
   
}
@keyframes type{
    from { width: 0; }
}
 
@-webkit-keyframes type{
    from { width: 0; }
}
.img_area{
  width: 571px;
  height: 416px;
}