@-webkit-keyframes sesgar {
  0%, 50%, 100%   { 
    transform: skew(5deg, 1deg) ;
    -webkit-transform: skew(5deg, 1deg) ;
  }
  25%, 75%  { 
    transform: skew(-5deg, 20deg) ;
    -webkit-transform: skew(-5deg, 20deg) ;
  }
}
@-moz-keyframes sesgar {
  0%, 50%, 100%   { 
    transform: skew(5deg, 1deg) ;
    -webkit-transform: skew(5deg, 1deg) ;
  }
  25%, 75%  { 
    transform: skew(-5deg, 20deg) ;
    -webkit-transform: skew(-5deg, 20deg) ;
  }
}
@keyframes sesgar {
  0%, 50%, 100%   { 
    transform: skew(5deg, 1deg) ;
    -webkit-transform: skew(5deg, 1deg) ;
  }
  25%, 75%  { 
    transform: skew(-5deg, 20deg) ;
    -webkit-transform: skew(-5deg, 20deg) ;
  }
}


/*------------------------------------------------*/

@-webkit-keyframes sesgarAbout {
  0%, 50%, 100%   { 
    transform: skew(15deg, 1deg) ;
    -webkit-transform: skew(5deg, 1deg) ;
  }
  25%, 75%  { 
    transform: skew(-5deg, 5deg) ;
    -webkit-transform: skew(-55deg, 5deg) ;
  }
}
@-moz-keyframes sesgarAbout {
  0%, 50%, 100%   { 
    transform: skew(15deg, 1deg) ;
    -webkit-transform: skew(5deg, 1deg) ;
  }
  25%, 75%  { 
    transform: skew(-5deg, 5deg) ;
    -webkit-transform: skew(-55deg, 5deg) ;
  }
}
@keyframes sesgarAbout {
  0%, 50%, 100%   { 
    transform: skew(15deg, 1deg) ;
    -webkit-transform: skew(15deg, 1deg) ;
  }
  25%, 75%  { 
    transform: skew(-5deg, 5deg) ;
    -webkit-transform: skew(-55deg, 5deg) ;
  }
}


/*------------------------------------------------*/

@-webkit-keyframes sesgarSkills {
  0%, 50%, 100%   { 
    transform: skew(-15deg, 1deg) ;
    -webkit-transform: skew(15deg, 1deg) ;
  }
  25%, 75%  { 
    transform: skew(25deg, 55deg) ;
    -webkit-transform: skew(25deg, -5deg) ;
  }
}
@-moz-keyframes sesgarSkills {
  0%, 50%, 100%   { 
    transform: skew(-15deg, 1deg) ;
    -webkit-transform: skew(15deg, 1deg) ;
  }
  25%, 75%  { 
    transform: skew(25deg, 55deg) ;
    -webkit-transform: skew(25deg, -5deg) ;
  }
}
@keyframes sesgarSkills {
  0%, 50%, 100%   { 
    transform: skew(-15deg, 1deg) ;
    -webkit-transform: skew(-15deg, 1deg) ;
  }
  25%, 75%  { 
    transform: skew(25deg, 55deg) ;
    -webkit-transform: skew(25deg, -5deg) ;
  }
}

/*------------------------------------------------*/

@-webkit-keyframes sesgarContact {
  0%, 50%, 100%   { 
    transform: skew(15deg, 1deg) ;
    -webkit-transform: skew(5deg, 1deg) ;
  }
  25%, 75%  { 
    transform: skew(-5deg, 5deg) ;
    -webkit-transform: skew(-55deg, 5deg) ;
  }
}
@-moz-keyframes sesgarContact {
  0%, 50%, 100%   { 
    transform: skew(15deg, 1deg) ;
    -webkit-transform: skew(5deg, 1deg) ;
  }
  25%, 75%  { 
    transform: skew(-5deg, 5deg) ;
    -webkit-transform: skew(-55deg, 5deg) ;
  }
}
@keyframes sesgarContact {
  0%, 50%, 100%   { 
    transform: skew(-15deg, 1deg) ;
    -webkit-transform: skew(-25deg, 1deg) ;
  }
  25%, 75%  { 
    transform: skew(5deg, 5deg) ;
    -webkit-transform: skew(45deg, 15deg) ;
  }
}
 
/*----------------------------------------*/

 @keyframes ses {
 from {
        transform: scale(1,1);
    }
    to {
        transform: scale(2, 0.5);
    } 
}