* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
body{
	font-size: 16px;
	font-family: sans-serif;
	max-width: 1400px;
	height: auto;
	margin: 0 auto;
}
/*Section 1*/

.header{
	width: 100%;
	background: #292929;
	position: relative;
	top: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.wraper{
	display: block;
	width: 100%;
	min-height: 25px;
	margin: 30px 0;
	bottom: 0;
	position: absolute;
}
.wraper nav {
	width: 350px;
	margin: 0 auto;
}
.wraper nav ul{
   display: inline-block;
   width: 23%;
   list-style-type: none;
   text-align: center;
 }

.wraper nav ul li :before {
	content: "/";
	padding: 0 12px 0 7px;

}
.wraper nav ul li.new :before {
	content:"";
}
  .wraper nav ul li a, .title {
 	color: #f7484e;
 	text-transform: uppercase;
    text-decoration: none;
    font-size: 14px; 
    font-family:  'PT Sans', sans-serif;
    font-weight: 600;
    word-spacing: 3px;
    background-color: transparent;
 }
 
.underline,.underline1{	
	position: relative;
	border-color: #fff;
}
.underline:after {
	display: none;
    position: absolute;
    content: "";
    left: 30%; 
    right: 0;
    bottom: -.8rem;
    overflow: hidden;
    border-bottom: 2px solid white;
}
.underline1:after {
	display: none;
    position: absolute;
    content: "";
    left: 0; 
    right: 0;
    bottom: -.8rem;
    overflow: hidden;
    border-bottom: 2px solid white;
}
.underline:hover:after {
	display: inline-block;
    width: 70%;
}
.underline1:hover:after {
	display: inline-block;
    width: 100%;
}
.title{
	position: absolute;
	margin: 35px auto;
	left: 50%;
	margin-left: -102px;
	z-index: 2;
}
 .hand{
 	display: block;
 	max-width: 455px;
 	left: 50%;
 	top:15%;
 	margin-left: -227px;
 	position: relative;
    z-index: 1;
 }
 .open{
 	display: none;
 	width: 60px;
 	position: absolute;
 	top: 10px;
 	left: 10px;
 	cursor: pointer;
 	z-index: 1000;
 }
 .close{
 	display: none;
 	width: 60px;
 	position: absolute;
 	top: 10px;
 	left: 10px;
 	cursor: pointer;
 	z-index: 1000;
 }
 .toggle{
 	display: none;
 	position: absolute;
 	background: #f7484e;
 	width: 100%;
 	text-align: center;
 	z-index: 999;
 }
 
 .toggle nav {
 	margin-top: 30px;
 }
 .toggle ul li{
   margin: 10px;
 }
 .toggle ul li a{
 	color: white;
 	text-transform: uppercase;
    text-decoration: none;
    font-size: 14px; 
    font-family:  'PT Sans', sans-serif;
    font-weight: 600;
    word-spacing: 3px;
 }
 @media screen and (max-width: 768px){
    .open{display: block;}
    .wraper{display: none;}
    .work_wraper{display:block;}
 }
 /* Section 2-3----------------*/

.about, .work{
	display: flex;
	flex-basis: 850px;
	flex-wrap:wrap;
	width: 100%;
	background: #fff;
	position: relative;
	margin: 0;
	padding: 0;
	transition: 1s;
}

.menu_about, .menu_work{
	display: flex;
	width: 50%;
	background: #f7484e;
	position: absolute;
	left: 0;
	top: 0;
}
.tourism,.pumatrac,.redbull,.mycomfort{
 display: block;
 position: relative;
 width: 100%;
 top: 0;
}

.title_about, .title_work{
	display: flex;
 	top:50%;
 	left: 50%;
 	max-height: 153px;
 	margin-left: -135px;
 	margin-top: -76px;
 	position: relative;
}
.title_work{
	margin-left: -100px;
}
.image_about{
	display: block;
 	top: 100px;
 	left: 100%;
 	margin-left: -67.5px;
 	position: absolute;
}
.text_about{
	display: flex;
	flex-direction:column;
	width: 50%;
	left: 50%;
	position: absolute;
	padding: 10%;
	text-align: justify;
}
.tex1{
    font-weight: 700;
    font-style: normal;
}
p {
    font-size: 1.1rem;
    line-height: 27px;
    font-family:  Proxima Nova Bold,serif;
    color: #2f2d2d;
}
h2{
    font-weight: 600;
    font-style: normal;
     color: #2f2d2d;
}
.text_about li{
	font-size: 1.1rem;
    line-height: 27px;
    font-family:  Proxima Nova Bold,serif;
    color: #2f2d2d;
}
.text_about span{
	color:#f7484e;
	font-weight: bold;
}
.finger img{
	display: block;
	float: left;
	margin-right: 40px;
}
.about .menu_about .wraper a, .work .menu_work .wraper a {
	color:#222;
}
.underline3:after {
    border-bottom: 2px solid #f7484e;
}
.underline4:after {
    border-bottom: 2px solid #f7484e;
}
.menu_work{
	background: #fff;
}
.small_menu{
	display: flex;
	justify-content:center;
	width: 100%;
	min-height: 25px;
	bottom: 180px;
	position: absolute;
}
.small_menu nav {
	display: flex;
	align-items: center;
	max-width: 450px;
	margin: 0 auto;
}
.small_menu nav ul{
   list-style-type: none;
   text-align: center;

 }
.small_menu nav ul li{
	margin: 5px;
}
  .small_menu nav ul li a {
 	color: #222;
    text-decoration: none;
    font-size: 12px; 
    font-family:  'PT Sans', sans-serif;
    font-weight: normal;
    word-spacing: 3px;
    background-color: transparent;
 }
 .small_menu nav ul li a:hover{
    color:#f7484e;
 }
 
.text_work{
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	width: 50%;
	left: 50%;
	position: absolute;
}
.more{
    display: block;
    width: 60px;
    height: 69px;
    margin: 45%;
    color: #fff;
    background-image: url(images/1.png);
    background-size: cover;
    position: absolute;
    z-index: 88;
    text-align: center;
    padding-top: 25px;
    opacity: 0;
    transition:1s;
}
.more a{
	text-decoration: none;
	color:#fff;
}
.contact{
	display: flex;
	flex-basis: 850px;
	flex-wrap:wrap;
	max-width: 100%;
	background: #fff;
	position: relative;
	margin: 0;
	padding: 0;
}

.menu_contact{
	display: flex;
	width: 50%;
	height: 100%;
	background: #292929;
	position: absolute;
	left: 0;
	top: 0;
}
.text_contact{
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	width: 50%;
	left: 50%;
	background: #fff;
	position: absolute;
	padding: 5%;
}
.social{
	display: block;
	position: relative;
}
.social img{
	margin-right: 30px;
}
.zoom{
	overflow:hidden;
    width:100%;
    height:auto;
}

.zoom img {
-moz-transition: all 10s ease-out;
-o-transition: all 10s ease-out;
-webkit-transition: all 10s ease-out;
}
.zoom img:hover{
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
}
@media screen and (max-width: 850px){
	.menu_about, .menu_work, .text_about,.text_work,.menu_contact,.text_contact{
		width: 100%;
		position: relative;
	}
	.text_about,.text_work,.text_contact{
		left: 0;
		margin-left: 0;
	}
	.about,.work,.contact{
		height: auto;
	}
	.image_about{
		display: none;
	}

}