*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
    font-size: 1em;
    line-height: 1.4;
}
body {
	margin: 0;
	width: 100%;
	background: #fff;
	}
	.layer{
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		max-width: 1400px;
		min-height: 640px;
		margin: 0 auto;
	}
	.layer1,.layer2,.layer3,.layer4{
		display: block;
		position: relative;
		width: 100%;
		margin: 0 auto;
		min-height: 1113px;
		background: #fff;
	}

	.layer1{
		background:transparent;
		
	}
.layer1_child img{
	display: block;
	position: absolute;
	width:100%;
	min-height: 640px;
	margin-top: 513px;
	z-index: -1
}
	.layer:after,.layer1:after,.layer2:before,.layer3:before,.layer4:before {
		content: "";
		display: block;
		width: 100%;
		height: 513px;	
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.layer:after{
		height: 640px;
	}
	.layer1:after{
		background-image: url(images/1.jpg);
		background-size: cover;
		box-shadow: inset 0 0 35px  rgba(0,0,0,1);
	}
	.layer2:before{
		background-image: url(images/2.jpg);
		background-size: cover;
		box-shadow: inset 0 0 35px rgba(0,0,0,1);
	}
	.layer3:before{
		background-image: url(images/3.jpg);
		background-size: cover;
		box-shadow: inset 0 0 35px rgba(0,0,0,1);
	}
	.layer4:before{
		background-image: url(images/4.jpg);
		background-size: cover;
		box-shadow: inset 0 0 35px rgba(0,0,0,1);
	}
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px), only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .layer:after, .layer1:after, .layer2:before,.layer3:before,.layer4:before {
      background-attachment: scroll; }
      }

	
	#nav{
		top: 0px;
		width: 640px;
		height: 54px;
		position: fixed;
		left: 50%;
        margin-left: -320px;
        z-index: 120;
        border-bottom: 1px dotted #050000;
        background: rgba(255,255,255,.6);
	}

	#nav ul {
		margin: 0;
		padding: 30px 0 0;
		display: block;
        list-style-type: disc;
	}
	#nav ul li {
		display: block;
        float: left;
        width: 125px;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
	}
#nav ul li a {
	color: #050000;
    text-decoration: none;
    text-transform: uppercase;
}
.two:hover ~ hr{
	margin-left: 20%;
}
.three:hover ~ hr{
	margin-left: 40%;
}
.four:hover ~ hr{
	margin-left: 60%;
}
.five:hover ~ hr{
	margin-left: 80%;
}
hr {
  height: 2px;
  width: 20%;
  margin: 0;
  
  background: black;
  border: none;
  transition: .3s ease-in-out;
}



.who-i-am{
	display: block;
	position: absolute;
    top:755px;
    right: 66%;
    width: 30%;
    padding-left: 10px;
    margin: 0 0 0 15px;
    background: rgba(255,255,255,0.4);
    max-height: 400px;
    overflow: auto;
    opacity: 0;
}
.who-i-am p {
	font-size: 12px;
    color: #050000;
    font-family: 'PT Sans', sans-serif;
    text-align: right;
    margin: 1em 0;
}
.point {
	display: block;
	position: absolute;
	max-width: 10%;
    top:520px;
    right: 60%;
}
.point img{
	display: block;
	width: 100%;
}
.r{
	display: block;
	position: absolute;
	max-width: 10%;
	top: 965px;
	right: 45%;
}
.r img{
	display: block;
	width: 100%;
}
.layer1 a, .layer2 a,.layer3 a,.layer4 a {
	width: 73px;
	height: 37px;
	position: absolute;
	left: 50%;
	background-image: url(images/down.png);
	margin-left: -46px;
	margin-top: 476px;
}
.layer2 a, .layer3 a,.layer4 a{
	margin-top: -37px;
}

.slider{
	
	height: 195px;
	margin-top: 80px;
	overflow: hidden;
}

.polosa,.polosa1{
	width: 4784px;
	height: 195px;
	position: relative;
	left: 0;
	transition: all ease 0.5s;
}
.right,.left{
	display: block;
	position: absolute;
	width: 46px;
	height: 39px;
	margin-top: 170px;
	z-index: 100;
}
.left{
	left: 0;
}
.right{
   right: 0;
}

.polosa img{
	opacity: 1;
    height: 195px;
    width: 395px;
    overflow: hidden;
    transition: .5s ease;
}
.container{
	width: 394px;
	height: 195px;
	float: left;
	position: relative;
	overflow: hidden;
	margin-right: 4px;
}
.container img  { 
width: 394px;
height: 195px; 
-webkit-transition: all 0.5s ease; 
-moz-transition: all 0.5s ease; 
-o-transition: all 0.5s ease; 
-ms-transition: all 0.5s ease;
transition: all 0.5s ease; 
}
.image {
  opacity: 1;
  display: block;
  width: 395px;
  height: 195px; 
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 330px;
  height: 195px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

.container:hover .image {
  opacity: 0.3;
  width:430px; 
height: 230px; 
cursor: pointer; 
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #222;
  color: white;
  width: 330px;
  height: 155px;
  margin-top: 25px;
  font-size: 20px;
  padding: 30px 20px;
  text-transform: uppercase;
}
.smalltext{
	font-size: 10px;
	line-height: 15px;
}
.icons{
	width: 100px;
	height: 30px;
	margin: 0 auto;
	position: absolute;
	left: 65%;
	bottom: 0;
	margin-left: -20px;
	margin-bottom: 30px;
	z-index: 1;
	float: left;
}
.post{
	position: relative;
	width: 590px;
	height: 300px;
	left: 50%;
	margin-left: -245px;
	margin-top: 150px;
}
.text_set{
	display: block;
	position: absolute;
	width: 490px;
	height: 300px;
	float: left;
	margin-left: 100px;
	top: 0;
	overflow: auto;
}
aside{
	float: left;
	width: 80px;
	height: 81px;
    background: url(images/post.png);
    z-index: 10;
}
time{
	font-size: 16px;
    line-height: 17px;
    color: #050000;
    font-family: 'PT Sans', sans-serif;
}
h1{
	font-size: 30px;
    line-height: 42px;
    color: #050000;
    font-family: 'PT Sans', sans-serif;
    margin: 0 0 10px 0;
    font-weight: bold;
}
 .text_set h1 a{
	color: #050000;
    text-decoration: none;
    width: 490px;
	height: 37px;
	position: relative;
	left: 0;
	background-image: none;
	margin-left: 0;
	margin-top: 0;
}
.text_set p {
	font-size: 12px;
    line-height: 13px;
    color: #050000;
    font-family: 'PT Sans', sans-serif;
}
.layer3 .post .text_set hr{
	display: block;
	width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

