.ojitosup{
	width: 570px;
	height: 401px;
	background: url(images/fon.png) no-repeat 0 0;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -290px;
	bottom: 0;
	z-index: 1;
}
.leftyey,.rightyey{
	display: block;
	width: 238px;
	height: 401px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.rightyey{
	left: 332px;
}
.leftpupilarea,.rightpupilarea{
	height: 203px;
	width: 133px;
	position: absolute;
	top: 55px;
	z-index: 3;
	left:50px;
}
.pupilleft,.pupilright{
	display: block;
	position: relative;
	width: 98px;
	height: 100px;
	/*padding: 10px;
	margin-top: 50px;
	margin-left: 18px;*/
	background: url(images/yey.png) no-repeat 50% 50%;
	z-index: 4;
	transition:0.1s;
}
.pupilleft1,.pupilright1{
	display: none;
	position: relative;
	width: 98px;
	height: 100px;
	padding: 10px;
	margin-top: 90px;
	margin-left: 40px;
	background: url(images/closeyey.png) no-repeat 50% 50%;
	z-index: 4;
	transition:0.1s;
}
.pupil1,.pupil2{
	display: block;
	width: 40px;
	height: 40px;
	padding: 5px;
	background: url(images/pupil.png)no-repeat 50% 50%;
	margin-top: 5px;
	margin-left: 5px;
	z-index: 5;
}
.oji{
	width: 303px;
	height: 115px;
	background: url(images/fon2.png) no-repeat 0 0;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	bottom: 0;
	z-index: 1;
}
.leftyeyS,.rightyeyS{
	display: block;
	width: 135px;
	height: 115px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.rightyeyS{
	left: 167px;
}
.leftpupilareaS,.rightpupilareaS{
	height: 90px;
	width: 90px;
	position: absolute;
	top: 20px;
	z-index: 3;
	left:20px;
}
.pupilleftS,.pupilrightS{
	display: block;
	position: relative;
	width: 60px;
	height: 60px;
	padding: 10px;
	margin-top: 5px;
	margin-left: 10px;
	background: url(images/yeyS.png) no-repeat 50% 50%;
	z-index: 4;
	transition:0.1s;
}
.pupil1S,.pupil2S{
	display: block;
	width: 25px;
	height: 25px;
	padding: 5px;
	background: url(images/pupilS.png)no-repeat 50% 50%;
	margin-top: 1px;
	margin-left: 1px;
	z-index: 5;
}
