<!DOCTYPE html>
<html>
 <head>
    <title>Juliya Khaliauka - junior front-end developer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name= "viewport" content = "width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio junior front-end developer - Julia Khaliauka">
    <meta name="author" content="Julia Khaliauka">
    <meta name="keywords" content="front-end developer,junior front-end developer HTML, HTML5, CSS, CSS3, Java Script,ECMAScript 6, cooder">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Arimo:700|Biryani:400,800|Jaldi" rel="stylesheet">
 </head>
  <body>
    <div class="appear"></div>
  	<div class="page">
  	   <div class="navigation">
        <div class="logo"></div>
        <nav>
          <ul  id ="home" class="home"><li><a href="index.html">Home</a></li></ul>
          <ul id ="about" class="about"><li><a href="about.html">About</a></li></ul>
          <ul id ="skills" class="skills"><li><a href="skills.html">Skills</a></li></ul>
          <ul id ="work" class="work"><li><a href="work.html">Work</a></li></ul>
          <ul id ="contact" class="contact activeContact"><li><a href="contact.html">Contact</a></li></ul>
        </nav>
        <div class="social_media">
          <a href="https://www.linkedin.com/in/juliya-khaliauka-900a94116/" target="_blank" class="in"></a>
           <a href="https://github.com/Julia1898/Julia1898.github.io" target="_blank" class="f"></a>
        </div> 
       </div>		 
  	   <div role="main" class="main">
          <div id="container_main" class="container_main">
            <div class="content_area_contact">
                   <h2 class="title_contact">Thanks!</h2>
                    <p class="contact_content">If you wanna talk to me, just click that button below and... let's have a chat.
                    </p>   
                   <div class="contentsBtn contactBtn">
                   <p class="btn"><a href="mailto:webdeveloperj@mail.ru" target="_blank">Contact me</a></p>
                </div>
              </div>
              <div class="img_area_contact">
               <div class="belarus">Belarus</br>Gomel city</div>
               <div class="location"></div>            
              </div>
            </div>
       </div>
     </div>
  <script type="text/javascript" src="dist/main.js"></script>  	
  </body>
  </html>