<!DOCTYPE html>
<html>
  <head>
    <title>Juliya Khaliauka - junior front-end developer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name= "viewport" content = "width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio junior front-end developer - Julia Khaliauka">
    <meta name="author" content="Julia Khaliauka">
    <meta name="keywords" content="front-end developer,junior front-end developer HTML, HTML5, CSS, CSS3, Java Script,ECMAScript 6, cooder">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Arimo:700|Biryani:400,800|Jaldi" rel="stylesheet">
 </head>
  <body>
    <div class="appear"></div>
  	<div class="page">
  	   <div class="navigation">
          <div class="logo"></div>
          <nav>
            <ul  id ="home" class="home"><li><a href="#">Home</a></li></ul>
            <ul id ="about" class="about"><li><a href="#">About</a></li></ul>
            <ul id ="skills" class="skills activeSkills"><li><a href="#">Skills</a></li></ul>
            <ul id ="work" class="work"><li><a href="#">Work</a></li></ul>
            <ul id ="contact" class="contact"><li><a href="#">Contact</a></li></ul>
          </nav>
          <div class="social_media">
            <a href="https://www.linkedin.com/in/juliya-khaliauka-900a94116/" target="_blank" class="in"></a>
             <a href="https://github.com/Julia1898/Julia1898.github.io" target="_blank" class="f"></a>
          </div> 
       </div>		 
  	   <div role="main" class="main">
          <div id="container_main" class="container_main">
                <div class="content_area skills_area">
                     <h2>My skills</h2>
                     <div class="skills_title">
                        <h3>Languages:</h3>
                        <p class="skills_content">                    
                            HTML5</br>CSS3</br>Java Script
                        </p>
                     </div>
                    <div class="skills_title">
                        <h3>Dev Tools:</h3>
                        <p>Babel</br>Webpack</br>Github</p>
                    </div>
                    <div class="skills_title">
                       <h3>CMS:</h3>
                       <p>Wordpress</p> 
                    </div>                         
                </div>
                <div class="img_area skills_img">
                  <div class="wrap">
                    <div class="cube">
                      <div class="front">
                         <div class="progress">HTML</div>
                      </div>
                      <div class="back">
                         <div class="progress">HTML</div>
                      </div>
                      <div class="top">
                         <div class="progress">HTML</div>
                      </div>
                      <div class="bottom">
                         <div class="progress">HTML</div>
                      </div>
                      <div class="left"></div>
                      <div class="right"></div>
                    </div>
                  </div>
                  <div class="wrap">
                    <div class="cube">
                      <div class="front">
                         <div class="progress1">CSS</div>
                      </div>
                      <div class="back">
                         <div class="progress1">CSS</div>
                      </div>
                      <div class="top">
                         <div class="progress1">CSS</div>
                      </div>
                      <div class="bottom">
                         <div class="progress1">CSS</div>
                      </div>
                      <div class="left"></div>
                      <div class="right"></div>
                    </div>
                  </div>
                  <div class="wrap">
                    <div class="cube">
                      <div class="front">
                         <div class="progress2">Java Script</div>
                      </div>
                      <div class="back">
                         <div class="progress2">Java Script</div>
                      </div>
                      <div class="top">
                         <div class="progress2">Java Script</div>
                      </div>
                      <div class="bottom">
                         <div class="progress2">Java Script</div>
                      </div>
                      <div class="left"></div>
                      <div class="right"></div>
                    </div>
                  </div>
          </div>
       </div>
     </div>
  <script type="text/javascript" src="dist/main.js"></script>  	
  </body>
  </html>