<!DOCTYPE html>
<html>
 <head>
  <title>Single product</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="javascript.js" ></script>
</head>
  <body>
 <div class="all-area">
 	<img class="jordan-red" src="images/jordan-red.png">
 	<div class="information-area">
 		<div class="information">
 			<div class="title">SHOES OF JORDAN</div>
 			<div class ="price">
 			    <div class="price1">299$</div>
 			    <div class="price2">199$</div>
 			</div>
 			<div class="choose-color">
 				<span class="text">Colour</span>
 				<div class="checkbox_icon" data-img="0" style="background-color: #ff0000" >
 					<img class="check" style="display: block;" src="images/ckeck.png">
 				</div>
 				<div class="checkbox_icon"data-img="1" style="background-color: #222">
 					<img class="check" src="images/ckeck1.png">
 				</div>
 			</div>
 			<div class="choose-size">
 				<span class="text">Size</span>
 				<button class="size2 size1" value="38">38</button>
 				<button class="size1" value="39">39</button>
 				<button class="size1" value="40">40</button>
 				<button class="size1" value="41">41</button>
 				<button class="size1" value="42">42</button>
 				<button class="size1" value="43">43</button>
 				<button class="size1" value="44">44</button>
 			</div>
 			<div class="quantity">
 				<span class="text">Quantity</span>
 				<div class="all-quantity">
 					<button class="add1">&ndash;</button>
 					<div class="add2" value ="1">1</div>
 					<button class="add3">+</button> 
 				</div>
 			</div>
 			<div class="all-buttons">
 			     <button class="button">buy now</button>
 			     <div class="like">&#10084</div>
 			     <div id ="like" style="display:none">&#10084</div>
 			 </div>
 		</div>
 		<div class="jordan">
 			<img class ="sign" src="images/sign.png">
 		</div>
 	</div>
 	<div class="img-area">
 		<img class="img-jordan" src="images/air-jordan-filled.png">
 		<div class="img-block">
 		     <img class="product" src="images/snik1.png">
 		     <img class="product" style="display:none" src="images/snik2.png">
 		</div>
 		<div class="slider">
 		     <div class="slider1" data-slide ="0" style="background:#2b2a2ad6"></div>
 		     <div class="slider1" data-slide ="1"></div>
 	    </div>
 	</div>
 </div>
 <div class="designer">Designer by luking</div>
  </body>
  </html>