<!DOCTYPE html>
<html>
 <head>
  <title>Slider</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="javascript.js" defer></script>
</head>

  <body>
<div id="slider">
  <div id="firstPic">
       <img src="images/firstPic.jpg" alt="Slider">
  </div>
  <div id="secondPic">
       <img src="images/secondPic.jpg">
     </div>
      <div class="button">&larr;Slide&rarr;</div>
</div>    
  </body>
  </html>