 * {
 	margin-left: 0;
 	margin-top: 0;
 	box-sizing: border-box;
 }
 body {
 	background: url(images/audience-1850665_1280.jpg) no-repeat;
 	background-size: cover;	
 	opacity: 0.6;
 	width: 100%;
 	height: 100%;
 	position: relative;
 }
 
 .keys {
display: flex;
align-items: center;
justify-content:center;
/*border: 2px solid red;*/
width: 900px;
height: 100px;
margin: 300px 200px;
position: relative;
padding: 0;
 }

 .key {
 	border: 4px solid black;
 	border-radius: 5px;
 	margin:0;
 	margin-left: 15px;
 	font-size: 1.5rem;
 	width: 80px;
 	height:100px;
 	position: relative;
 	text-align: center;
 	color: white;
 	background: rgba(0,0,0,0.4);
 }

 kbd {
   display: block;
   font-size: 40px;
 }

 .sound {
 	font-size: 10px;
 	color: yellow;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 	margin-top: 1px;
 	display: block;
 }

 .playing {
 	transform: scale(1.1);
 	border-color: #ffc600;
 	box-shadow: 0 0 10px #ffc600;
 }