*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #eee;
}
.main_block{
	width: 304px;
	height: 304px;
	border:2px solid black;
	margin: 30px auto;
	left: 0
}
.block{
	display: inline-block;
	width: 100px;
	height: 100px;
	border:1px solid black;
	float: left;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
}
.move,.restart{
	width: 200px;
	height: 20px;
	text-align: center;
	margin: 20px auto;
}
.restart{
	width: 100px;
	margin-left: 45%;
}
.counter_box{
	position: absolute;
	top: 30px;
	right: 200px;
	width: 150px;
	height: 130px;
	border: 1px solid black;
}
.winner{
	margin: 10px 0 20px 10px;
}

@media screen and (max-width: 1050px){
   .counter_box{
   	top:500px;
   	left: 45%;
   }
}