<!DOCTYPE html>
<html>
  <head>
    <title>Займы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="dist/style.css">
  </head>
  <body>
 	<!-- <section class="container-fluid rd-main__container">		
	 	<div class="row rd-table">
	 		<div class="col-xl-9 col-lg-10 col-md-12 rd-table__container">

	 			<div class="row rd-table__renderBlock">
	 				<div class="col-12">
	 					<div class="row">
	 						<div class="col-12"></div>
	 					</div>
	 					<div class="row">
	 						<div class="col-6">ааа</div>
	 						<div class="col-6">аа</div>
	 					</div>
	 				</div>
	 			</div>

	 		</div>
	 	</div>
 	</section> -->
 	<div class="rd-mainContainer">		
	 	<div class="rd-tableContainer">

	 		<section class="rd-tableRenderBlock">
	 			<h1  class="rd-tableRenderBlock__title">Микрозаймы</h1>
	 			<div class="rd-tableRenderBlock__render">
	 				<div class="rd-tableRenderBlock__render--price">
	 					<label class="rd-formLabel">Введите сумму займа, руб.</label>
	 					<input type="text" name="amount" class="rd-input__values" maxlength="10" value="3 000">
	 					<div class="rd-renderLine">
	 						<div  class="rd-renderLine--grey"></div>
	 						<div  class="rd-renderLine--blue"></div>
	 						<span class="rd-renderLine--circle"></span>
	 					</div>
	 				</div>
	 			    <div class="rd-tableRenderBlock__render--days">
	 			    	<label class="rd-formLabel">Срок, дней</label>
	 					<input type="text" name="amount" class="rd-input__values" maxlength="10" value="291">
	 					<div class="rd-renderLine">
	 						<div  class="rd-renderLine--grey"></div>
	 						<div  class="rd-renderLine--blue"></div>
	 						<span class="rd-renderLine--circle"></span>
	 					</div>
	 			    </div>
	 			</div>
	 			<div class="rd-tableRenderBlock__render--additional">
	 			    <div class="rd-additionalConditions">Дополнительные условия </div>
	 			</div>
	 		</section>             
            <section class="rd-selection">

	            <div class="rd-selectForm">
	            	<label class="rd-selectForm__label">Сортировать:</label>
				    <select class="rd-selectForm__select">
				        <option value="1">по процентной ставке</option>
				        <option value="2">по названию компании</option>
				    </select>
	            </div>

	            <div class="rd-selectedItem">
	            	<div class="rd-selectedItem__wrap">
                       <span class="rd-selectedItem__wrap--ribbon6">Рекомендуем</span>
                    </div>
	            	<div class="rd-selectedItem__logo">
	            		<img class="rd-selectedItem__logo--img" src="dist/images/bank-moskvy.png" alt="Банк Москвы" title="Банк Москвы">
	            	</div>
	            	<div class="rd-description">
	            		<h3 class="rd-description__offerName">- &#171;С постепенным погашением&#187;</h3>
	            		<h2 class="rd-description__officeName">Банк Москвы</h2>
	            		<div class="rd-description__counter">
	            			<div class="rd-description__counter--rate">0,08 % в день</div>
	            			<div class="rd-description__counter--amount">3 0000 - 1 000 000 &#8381;</div>
	            			<div class="rd-description__counter--term">70 - 1 825 дней</div>
	            		</div>
	            	</div>
	            	<a href="#" target="_blank" class="rd-selectedItem__button">
	            		<button class="rd-selectedItem__button--select">Перейти</button>
	            	</a>
	            </div>

  

	        </section>
 

	 	</div> 			
 	</div>




    <script type="text/javascript" src="dist/main.js"></script>  	
  </body>
</html>